@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: Inconsolata, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  background-color: var(--bg-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.1s ease;
}
a span {
  font-size: smaller;
  margin: 2.5px;
}
a:hover {
  color: var(--fg-color);
}

* {
  box-sizing: border-box;
}

button {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  padding: 10px;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;
}
button.mini {
  font-size: 1.1rem;
  border: none;
  padding: 5px;
  margin: 0;
}
button.mini.selected {
  color: var(--fg-color);
}
button:hover {
  color: var(--fg-color);
  border-color: var(--fg-color);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  height: 99.8%;
  width: 50%;
}

.timer {
  font-size: 21pt;
  margin: 5px;
  color: var(--fg-color);
}

.box {
  font-size: 21pt;
  overflow: hidden;
  height: 93px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.box .word {
  position: relative;
  margin: 0 5px 3px;
}
.box .word.wrong {
  -webkit-text-decoration: 2px underline var(--hl-color);
          text-decoration: 2px underline var(--hl-color);
  -webkit-animation: shake 0.1s ease;
          animation: shake 0.1s ease;
}
@-webkit-keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.box .typedWord {
  position: absolute;
  top: 0;
  left: 0;
}
.box .right {
  color: var(--fg-color);
}
.box #active {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.box span.wrong {
  color: var(--hl-color) !important;
}
.box .extra {
  opacity: 0.6;
}
.box #caret {
  transition: left 0.1s ease;
  margin-left: -7.29165px;
  position: absolute;
  color: var(--h1-color);
}
.box #caret.blink {
  -webkit-animation: blink 1.5s infinite 1s;
          animation: blink 1.5s infinite 1s;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result table {
  font-size: 16pt;
  font-weight: 800;
}
.result table button {
  font-size: 21pt;
}
.result .wrong {
  color: var(--hl-color);
}

header, footer {
  margin: 50px 0;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
}
header .buttons, footer .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header .brand {
  font-size: 21pt;
  align-self: center;
}
header .brand:hover {
  color: var(--fg-color);
}

.bottom-area {
  width: 60%;
  justify-content: center;
  position: relative;
}
.bottom-area .hint {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-area .hint kbd {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 2.5px 5px;
  margin: 10px;
  border-radius: 3px;
  font-size: 9pt;
}
.bottom-area footer {
  width: 100%;
}

.default {
  --bg-color: #ada6c2;
  --font-color: #e4e3e9;
  --hl-color: #ca4754;
  --fg-color: #2f2a41;
}/*# sourceMappingURL=main.css.map */